# Ignorer les dossiers de cache Python
__pycache__/
*.pyc
*.pyo

# Ignorer les fichiers de configuration spécifiques à un IDE
.vscode/
.idea/

# Ignorer les fichiers système
.DS_Store
Thumbs.db

# Ignorer les environnements virtuels
venv/
env/

# Ignorer les logs et les fichiers temporaires
*.log
*.tmp
*.bak
*.swp
*.txt

# Ignorer les fichiers générés par les outils
*.coverage
htmlcov/
*.egg-info/
