<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Simulation Financière</title>
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/flowbite@1.6.4/dist/flowbite.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>
    <body class="bg-gray-100">
        <div class="container mx-auto p-6">
            <h1 class="text-4xl font-extrabold text-blue-600 mb-8 text-center">Simulation Financière</h1>

            <!-- Formulaire de simulation -->
            <form class="bg-white p-8 rounded-lg shadow-lg space-y-6" method="POST">
                <div>
                    <label for="scenario" class="block text-lg font-medium text-gray-700 mb-4">
                        Choisissez un scénario :
                    </label>
                    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                        <!-- Option 1 -->
                        <label
                            id="optimiste"
                            class="scenario-option flex flex-col items-center justify-center p-4 border rounded-lg transition cursor-pointer hover:shadow   
                            {% if form_data.get('scenario') == 'optimiste' %} border-green-500 shadow-md {% else %} border-gray-300 hover:border-blue-500 {% endif %}">
                            <input type="radio" name="scenario" value="optimiste" class="hidden peer">
                            <span class="text-lg font-semibold text-gray-700">Optimiste</span>
                            <span class="text-sm text-gray-500 mt-1">Croissance élevée</span>
                        </label>
                
                        <!-- Option 2 -->
                        <label 
                            id="realiste" class="scenario-option flex flex-col items-center justify-center p-4 border rounded-lg transition cursor-pointer hover:shadow                         
                            {% if form_data.get('scenario') == 'realiste' %} border-green-500 shadow-md {% else %} border-gray-300 hover:border-blue-500 {% endif %}">
                            <input type="radio" name="scenario" value="realiste" class="hidden peer">
                            <span class="text-lg font-semibold text-gray-700">Réaliste</span>
                            <span class="text-sm text-gray-500 mt-1">Croissance modérée</span>
                        </label>
                
                        <!-- Option 3 -->
                        <label 
                            id="pessimiste" class="scenario-option flex flex-col items-center justify-center p-4 border rounded-lg transition cursor-pointer hover:shadow                         
                            {% if form_data.get('scenario') == 'pessimiste' %} border-green-500 shadow-md {% else %} border-gray-300 hover:border-blue-500 {% endif %}">
                            <input type="radio" name="scenario" value="pessimiste" class="hidden peer">
                            <span class="text-lg font-semibold text-gray-700">Pessimiste</span>
                            <span class="text-sm text-gray-500 mt-1">Croissance faible</span>
                        </label>
                    </div>
                </div>
                
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                    <div>
                        <label for="salaire_mensuel" class="block text-lg font-medium text-gray-700">Revenus mensuels net (€) :</label>
                        <input type="number" id="salaire_mensuel" name="salaire_mensuel" value="{{ form_data.get('salaire_mensuel', '') }}" class="w-full mt-1 p-3 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500" required>
                    </div>

                    <div class="relative">
                        <label for="steps-range" class="block mb-2 text-lg font-medium text-gray-700">
                            Durée d'emprunt (en années)
                        </label>
                        <!-- Slider -->
                        <input 
                        id="steps-range" 
                        type="range" 
                        min="5" 
                        max="30" 
                        value="{{ form_data.get('duree_emprunt', 20) }}" 
                        step="5" 
                        name="duree_emprunt" 
                        class="w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer focus:outline-none focus:ring focus:ring-blue-300">
                        <!-- Value display -->
                        <div class="flex justify-between text-sm text-gray-500 mt-2">
                            <span>5</span>
                            <span>10</span>
                            <span>15</span>
                            <span>20</span>
                            <span>25</span>
                            <span>30</span>
                        </div>
                    </div>
                    

                    <div>
                        <label for="rentabilite_net" class="block text-lg font-medium text-gray-700">Rentabilité nette (%) :</label>
                        <input type="number" id="rentabilite_net" name="rentabilite_net" value="{{ form_data.get('rentabilite_net', '') }}" class="w-full mt-1 p-3 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500" required>
                    </div>

                    <div>
                        <label for="enveloppe_travaux" class="block text-lg font-medium text-gray-700">Enveloppe travaux (€) :</label>
                        <input type="number" id="enveloppe_travaux" name="enveloppe_travaux" value="{{ form_data.get('enveloppe_travaux', '') }}" class="w-full mt-1 p-3 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500" required>
                    </div>

                    <div>
                        <label for="epargne" class="block text-lg font-medium text-gray-700">Épargne initiale (€) :</label>
                        <input type="number" id="epargne" name="epargne" value="{{ form_data.get('epargne', '') }}" class="w-full mt-1 p-3 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500" required>
                    </div>

                    <div>
                        <label for="epargne_mensuelle" class="block text-lg font-medium text-gray-700">Epargne mensuelle (€):</label>
                        <input type="number" name="epargne_mensuelle" id="epargne_mensuelle" value="{{ form_data.get('epargne_mensuelle', '') }}" class="w-full mt-1 p-3 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500" required>
                    </div>
                </div>

                <button type="submit" class="w-full py-3 bg-blue-600 text-white font-bold rounded-lg hover:bg-blue-700 transition">Lancer la simulation</button>
            </form>
            {% if patrimoine_statut %}
                {% if patrimoine_statut[0].success %}
                    <div class="mt-6 p-4 bg-green-100 border-l-4 border-green-500 text-green-700 font-medium rounded-md">
                        <p>{{ patrimoine_statut[0].message }}</p>
                    </div>
                {% else %}
                    <div class="mt-6 p-4 bg-red-100 border-l-4 border-red-500 text-red-700 font-medium rounded-md">
                        <p>{{ patrimoine_statut[0].message }}</p>
                    </div>
                {% endif %}
            {% endif %}

            {% if resultats %}
            <!-- Résultats de la simulation -->
            <div class="mt-8 overflow-x-auto">
                <table class="table-auto w-full bg-white shadow-lg rounded-lg overflow-hidden">
                    <thead class="bg-blue-600 text-white">
                        <tr>
                            <th class="p-4">Année - Mois</th>
                            <th class="p-4">Nombre de crédits</th>
                            <th class="p-4">Capacité d'emprunt (€)</th>
                            <th class="p-4">Épargne (€)</th>
                            <th class="p-4">Patrimoine (€)</th>
                            <th class="p-4">Dépenses imprévues (€)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for result in resultats %}
                        <tr class="hover:bg-gray-100 transition">
                            <td class="border p-4">{{ result.annee }} - {{ result.mois }}</td>
                            <td class="border p-4">{{ result.nombre_de_credits }}</td>
                            <td class="border p-4">{{ result.capacite_emprunt_restante }}</td>
                            <td class="border p-4">{{ result.epargne }}</td>
                            <td class="border p-4">{{ result.valeur_totale_biens }}</td>
                            <td class="border p-4">{{ result.depense_imprevue }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- Graphique -->
            <div class="mt-8">
                <canvas id="graphiquePatrimoine"></canvas>
            </div>
            <div id="resultats-data" style="display: none;">{{ resultats | tojson | safe }}</div>

            <script>
                // Utilisation de Jinja pour insérer les données JSON dans la variable JavaScript
                const simulationResultats = JSON.parse(document.getElementById('resultats-data').textContent);
                // Extraire les années et les valeurs de l'évolution du patrimoine (valeur_totale_biens)
                const annees = simulationResultats.map(result => result.annee);
                const valeurTotaleBiensData = simulationResultats.map(result => result.valeur_totale_biens);
            
                // Créer le graphique avec Chart.js
                const ctx = document.getElementById('graphiquePatrimoine').getContext('2d');
                const graphiquePatrimoine = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: annees,
                        datasets: [{
                            label: 'Évolution du patrimoine (€)',
                            data: valeurTotaleBiensData,
                            borderColor: 'rgba(75, 192, 192, 1)',
                            fill: false,
                            tension: 0.1
                        }]
                    },
                    options: {
                        responsive: true,
                        plugins: {
                            tooltip: {
                                callbacks: {
                                    title: function(context) {
                                        let index = context[0].dataIndex;
                                        return `Année : ${annees[index]}`;
                                    },
                                    label: function(context) {
                                        let value = context.raw;
                                        return `Valeur : ${value} €`;
                                    }
                                }
                            }
                        },
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });

            </script>
            {% endif %}
        </div>
    </body>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
        // Récupérer tous les labels
        const labels = document.querySelectorAll(".scenario-option");

        labels.forEach(label => {
            label.addEventListener("click", () => {
                // Enlever la bordure verte de tous les labels
                labels.forEach(l => l.classList.remove("border-green-500", "shadow-md"));
                
                // Ajouter la bordure verte au label sélectionné
                label.classList.add("border-green-500", "shadow-md");
            });
        });
    });
    </script>
    
</html>