<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Simulation Financière</title>
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/flowbite@1.6.4/dist/flowbite.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>
    <body class="bg-gray-100">
        <div class="container mx-auto p-6">
            <h1 class="text-4xl font-extrabold text-blue-600 mb-8 text-center">Simulation Financière</h1>

            <!-- Formulaire de simulation -->
            <form class="bg-white p-8 rounded-lg shadow-lg space-y-6" method="POST">
                {% include 'scenarios.html' %}
                {% include 'formulaire.html' %}
                <button type="submit" class="w-full py-3 bg-blue-600 text-white font-bold rounded-lg hover:bg-blue-700 transition">Lancer la simulation</button>
            </form>
            {% include 'message-information.html' %}
            {% include 'resultats.html' %}
        </div>
    </body>

    
</html>